body {
  margin: 0;
  background: #111;
  color: white;
  font-family: "微软雅黑", sans-serif;
  text-align: center;
}

.song-card {
  margin: 50px auto;
  padding: 20px;
  width: 300px;
  background: #222;
  border-radius: 10px;
}

.song-card img {
  width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #44c767;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

canvas {
  display: block;
  background: black;
  margin: 0 auto;
}
